* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #000000, #330000, #550000, #770000, #330000, #550000);
	background-size: 400% 400%;
	animation: gradient 4s ease infinite;
	height: 100vh;
}
@keyframes gradient{
    0% {
        background-position: 0 50%;
    }
    40% {
        background-position: 100% 50%;
    }
    60% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%;
    }
}
.MainCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
    width: 350px;
    border-radius: 20px;
    padding: 40px;
    color: white;
    gap: 20px;
    box-shadow: 2px 15px 20px rgba(61,61,61, .4);
}
.Myphoto {
    width: 200px;
    height: 240px;
    border-radius: 50px
}
.TitleMyName {
    color: #990000;
    font-size: 1.00rem;
}
.MySpecialty{
    color: white;
    font-size: 1.15rem;
}
.Links {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Links a{
    padding: 15px 0;
    border-radius: 5px;
    margin: 10px 0;
    text-decoration: none;
    color: black;
    transition: transform .2s;
}
.Links a:hover {
    background: red;
    transform: scale(1.1);
}
.Links a:not(:hover) {
    transform: scale:(0.9);
    color: red;
    border: 1px solid red;
}
footer {
    position: absolute;
    bottom: 5px;
    color: white;
}
@media only screen and (max-width: 600px) {
    .MainCard {
        width: 100%;
        max-width: 400px;
    }

    .Myphoto {
        width: 150px;
        height: 180px;
    }
}