* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
	min-height: 100vh;
}
#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 350px;
    height: auto;
    text-align: center;
    border-radius: 20px;
    color: white;
    box-shadow: 10px 15px 10px rgba(61,61,0, .3);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
.my-name{
    font-size: 1.5rem;
}
.my-position{
    font-size: 1.2rem;
}
img{
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: auto;
}
.btn{
    position: relative;
    display: block;
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin: 10px 0;
    padding: 14px 60px;
    border: 2px solid #5a4710;
    text-transform: uppercase;
    overflow: hidden;
    transition: 3s all ease;
}
.bt1,
.bt2,
.bt3{
    width: 70%;
}
.btn::before{
    background: rgba(255, 223, 0, 0.3);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}
.bt1::before,
.bt3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.bt1:hover::before,
.bt3:hover::before{
  height: 380%;
}

.bt2::before,
.bt4::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.bt2:hover::before,
.bt4:hover::before{
  height: 380%;
}
.bt4:not(:hover) {
    transform: scale:(0.9);
}
.bt4{
    animation: pulse 1s infinite ease-in-out;
    transform-origin: center;
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.made-by{
    font-size: 10px;
    color: gray;
}
@media (max-width: 400px) {
    main{
        width: 80%;
    }
    .bt1,
    .bt2,
    .bt3{
        width: auto;
        min-width: 194px;
    }
}