<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/favicon-red.png" type="image/xx-icon">
    <title>My Partner Profiles</title>
    <!-- Folha de estilo (style.css) -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Google Fonts(OXYGEN)-->
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
</head>
<body>
    <video autoplay muted loop id="background-video">
        <source src="/static/videos/social_menu3.mp4">
    </video>
    <main>
        <header>
            <img src="/static/images/meProfile.jpg">
            <h4 class="my-name"> Anderson Albuquerque</h4>
            <p class="my-position">BackEnd Developer</p>
        </header>
        <section class="buttons-links">
            <a href="https://www.linkedin.com/in/anderson-albukerk/" class="btn bt1">LinkedIn</a>
            <a href="https://github.com/ALBUKERKTIPS" class="btn bt2">GitHub</a>
            <a href="https://www.instagram.com/anderson_albuquerque/" class="btn bt3">Instagram</a>
            <a href="https://tripregister-b05e2bb9b8c3.herokuapp.com/" class="btn bt4">My New Project</a>
        </section>
    </main>
    <footer>
        <p class="made-by">Made by Anderson Albuquerque</p>
    </footer>

</body>
</html>